@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        Angemeldet als @context.User.Identity.Name - 
        <a href="" @onclick="BeginLogout" @onclick:preventDefault>Abmelden <span class="oi oi-account-logout" /></a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Anmelden <span class="oi oi-account-login" /></a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState().ConfigureAwait(true);
        Navigation.NavigateTo("authentication/logout");
    }
}