@inherits LayoutComponentBase

<ApplicationInsightsComponent />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-1 auth">
        <div class="col-md-3">
            <img width="150px" src="https://www.nrz-myk.de/files/layout/nrzmyk_logo.gif"/>
        </div>
        <div class="col-md-9 text-right">
            <div class="col-md-12"><LoginDisplay /></div>
            <div class="col-md-12"><a href="https://github.com/markusrt/NRZMyk/issues/new" aria-label="Fehler melden" rel="noopener" target="_blank"><span class="oi oi-bug"></span></a></div>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>