@inherits LayoutComponentBase

<ApplicationInsightsComponent />

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-1 auth">
        <div class="col-md-3">
            <img class="logo-text" src="/images/logo-sentinel-text.svg"/>
        </div>
        <div class="col-md-9 text-right">
            <div><LoginDisplay /></div>
            <div><a href="https://github.com/markusrt/NRZMyk/issues/new" aria-label="Fehler melden" rel="noopener" target="_blank"><span class="oi oi-bug"></span></a></div>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>