@inherits NavMenuBase

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">NRZMyk</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
            </ul>
        </div>
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="8,6"> @*TODO implement this base on Role enum flag*@
    <Authorized>
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="writer">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Writer access
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="admin">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Admin
                </NavLink>
            </li>
        </ul>
    </Authorized>
</AuthorizeView>