@page "/"
@using NRZMyk.Services.Models

<p>
    Das vom Robert Koch-Institut und dem Bundesministerium für Gesundheit berufene
    <strong>Nationale Referenzzentrum für Invasive Pilzinfektionen (NRZMyk)</strong> ist
    Ansprechpartner für Ärzte und Mikrobiologen aus ganz Deutschland bei Fragen
    zur Diagnostik und Behandlung invasiver Pilzinfektionen. Neben einer gezielten
    Beratung bietet das NRZMyk auch spezielle diagnostische Verfahren zum Nachweis
    von invasiven Pilzerkrankungen an. Es kooperiert dabei mit anderen Referenzlabors weltweit.
</p>

<p>
    Das NRZMyk ist angesiedelt am
    <a href="http://www.leibniz-hki.de" rel="noopener" target="_blank">Leibniz-Institut für Naturstoff-Forschung und
        Infektionsbiologie - Hans-Knöll-Institut (HKI)</a>
    in Jena. Einige Untersuchungen werden am
    <a href="https://www.hygiene.uni-wuerzburg.de/startseite/" rel="noopener" target="_blank">Institut für Hygiene und
        Mikrobiologie</a>
    der Universität Würzburg (Lehrstuhl für Medizinische Mikrobiologie &amp; Mykologie, Prof. Kurzai) durchgeführt.
</p>

<AuthorizeView Roles="@nameof(Role.Guest)">
    <Authorized>
        <div class="alert alert-warning mr-5 ml-5" role="alert">
            <span class="oi oi-lock-locked mr-2" aria-hidden="true"></span>
            <strong>Eingeschränkter Gastzugang!</strong>
            <p>
                Sie sind als <string>Gast</string> mit dem Benutzernamen <i>@context.User.Identity.Name</i> angemeldet.
                Bitte <a
                    href="mailto:alexander.aldejohann@hygiene.uni-wuerzburg.de?subject=Sentinel Netzwerk: Freischaltung des Accounts [@context.User.Identity.Name]">kontaktieren
                    Sie das koordinierende Labor</a>
                um ihren Account für die Datenerfassung freizuschalten
            </p>
        </div>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="@nameof(Role.User)">
    <Authorized>
        <h2>Feste Monate der Einsendung</h2>
        <div class="row">
            <div class="col-9">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Gruppe</th>
                            <th scope="col">Monatsanfang (01- 15)</th>
                            <th scope="col">Monatsende (15- 30)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Gruppe <span style="color: red">A</span></th>
                            <td>Nürnberg</td>
                            <td>Freiburg</td>
                        </tr>
                        <tr>
                            <th scope="row">Gruppe <span style="color: #FFC000">B</span></th>
                            <td>Frankfurt</td>
                            <td>Oldenburg </td>
                        </tr>
                        <tr>
                            <th scope="row">Gruppe <span style="color: #00B050">C</span></th>
                            <td>München (LMU)</td>
                            <td>München (TU)</td>
                        </tr>
                        <tr>
                            <th scope="row">Gruppe <span style="color: #00B0F0">D</span></th>
                            <td>Essen</td>
                            <td>Erlangen</td>
                        </tr>
                        <tr>
                            <th scope="row">Gruppe <span style="color: #7030A0">E</span></th>
                            <td>Berlin</td>
                            <td>Würzburg</td>
                        </tr>
                    </tbody>
                </table>
                Januar und Dezember für Nachsendungen
            </div>
            <div class="col-3">
                <ul>
                    <li>Januar</li>
                    <li>Februar <span style="color: red">A</span></li>
                    <li>März <span style="color: #FFC000">B</span></li>
                    <li>April <span style="color: #00B050">C</span></li>
                    <li>Mai <span style="color: #00B0F0">D</span></li>
                    <li>Juni <span style="color: #7030A0">E</span></li>
                    <li>Juli <span style="color: red">A</span></li>
                    <li>August <span style="color: #FFC000">B</span></li>
                    <li>September <span style="color: #00B050">C</span></li>
                    <li>Oktober <span style="color: #00B0F0">D</span></li>
                    <li>November <span style="color: #7030A0">E</span></li>
                    <li>Dezember</li>
                </ul>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

<SendSamples Title="Probeneinsendung" />
