@page "/"

<h1>NRZMyk</h1>

<p>
    Das vom Robert Koch-Institut und dem Bundesministerium für Gesundheit berufene
    <strong>Nationale Referenzzentrum für Invasive Pilzinfektionen (NRZMyk)</strong> ist
    Ansprechpartner für Ärzte und Mikrobiologen aus ganz Deutschland bei Fragen
    zur Diagnostik und Behandlung invasiver Pilzinfektionen. Neben einer gezielten
    Beratung bietet das NRZMyk auch spezielle diagnostische Verfahren zum Nachweis
    von invasiven Pilzerkrankungen an. Es kooperiert dabei mit anderen Referenzlabors weltweit.
</p>

<p>
    Das NRZMyk ist angesiedelt am Leibniz-Institut für Naturstoff-Forschung und Infektionsbiologie
    – Hans-Knöll-Institut (HKI) in Jena. Einige Untersuchungen werden am Institut für Hygiene und 
    Mikrobiologie der Universität Würzburg (Lehrstuhl für Medizinische Mikrobiologie & Mykologie, Prof. Kurzai) 
    durchgeführt.
</p>

<SendSamples Title="Probeneinsendung" />
