@attribute [Authorize(Roles = nameof(Role.User))]
@inherits DeleteBase

<h2>Löschen bestätigen</h2>

@if (SentinelEntry == null)
{
    <p><em>Lade Datensatz...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="alert alert-danger" role="alert">
                <strong>Achtung!</strong> Wollen sie den ausgewählten Datensatz unwiderruflich löschen?
            </div>
            <dl class="col-md-6 dl-horizontal">
                <dt>
                    Sentinel Labornummer
                </dt>
                <dd>
                    @SentinelEntry.SenderLaboratoryNumber
                </dd>
                <dt>
                    Labornummer Einsender
                </dt>
                <dd>
                    @SentinelEntry.SenderLaboratoryNumber
                </dd>
                <dt>
                    Material
                </dt>

                <dd>
                    @SentinelEntry.MaterialOrOther()
                </dd>

                @if (SentinelEntry.SamplingDate.HasValue)
                {
                    <dt>
                        Entnahmedatum
                    </dt>
                    <dd>
                        @SentinelEntry.SamplingDate.Value.ToShortDateString()
                    </dd>
                }
            </dl>
        </div>
        <div class="mb-3 row">
            <div class="col-sm-6">
                <a href="" @onclick="() => OnCloseClick.InvokeAsync(null)" @onclick:preventDefault class="btn btn-secondary">
                    Abbrechen
                </a>
                <button type="submit" class="btn btn-danger"  @onclick="DeleteClick">
                    Eintrag Löschen
                </button>
            </div>
        </div>
    </div>
}
