@using System.Linq.Expressions;
  
<div class="mb-3 row">
    <label class="col-form-label col-sm-4">@FieldName</label>
    <div class="col-sm-6">
        <InputText class="form-control" @bind-Value="Value" @oninput="OnValueChanged" />
        <ValidationMessage For="@For" />
    </div> 
</div>


@* https://www.c-sharpcorner.com/article/share-data-between-child-and-parent-components-in-blazor/ *@

@code {  
    [Parameter]  
    public string Value { get; set; } = default!;

    [Parameter]
    public Expression<Func<string>> For { get; set; } = default!;

    [Parameter]
    public string FieldName { get; set; } = default!;

    [Parameter]  
    public EventCallback<string> ValueChanged { get; set; }  

    private Task OnValueChanged(ChangeEventArgs e)  
    {  
        Value = e.Value!.ToString()!;  
        return ValueChanged.InvokeAsync(Value);  
    }  
}  